# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

.build

.venv

.connection

.parallel_imputer.cpython-39-darwin.so

.parallel_imputer.cpp

.test.ipynb